<div class="container">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="card">
      <div class="card-head">Ajouter un nouveau produit</div>
      <div class="card-body" *ngIf="mode == 1">
        <div class="card-body">
          <form #f="ngForm" (ngSubmit)="onSaveProduct(f.value)">
            <div class="form-group">
              <label class="control-label"> Desgination : </label>
              <input
                class="form-control"
                type="text"
                name="designation"
                ngModel
              />
            </div>
            <div class="form-group">
              <label class="control-label"> Prix : </label>
              <input class="form-control" type="number" name="price" ngModel />
            </div>
            <div class="form-group">
              <label class="control-label"> Quantite : </label>
              <input
                class="form-control"
                type="number"
                name="quantity"
                ngModel
              />
            </div>
            <button class="btn btn-success" type="submit">Save</button>
          </form>
        </div>
        <!-- <div class="card-body">
          <button class="btn btn-success" (click)="onNewProduct()">
            Nouveau Produit
          </button>
          <div class="form-group">
            <label> ID : </label><label>{{ currentProduct.id }}</label>
            <label> Desgination : </label
            ><label>{{ currentProduct.designation }}</label>

            <label> Price : </label><label>{{ currentProduct.price }}</label>

            <label> Quantite : </label
            ><label>{{ currentProduct.quantity }}</label>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
